@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-success" style="margin-top:190px">
    <h1 class="display-4 font-weight-bold">Welcome to Iconic  plant shop</h1>
    
   @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
